In [1]:
import malariagen_data

In [2]:
# Load packages
import numpy as np
import pandas as pd 
import allel

In [3]:
# Use scikit-allel to load VCF data
vcf = allel.read_vcf("results/variantAnalysis/vcfs/Ag_Busia.X.vcf.gz")

In [7]:
# Extract genotypes from VCF
geno = allel.GenotypeArray(vcf['calldata/GT'])

In [9]:
# Extract sample names
samples = vcf['samples']
samples

array(['BusiaSelected1', 'BusiaSelected2', 'BusiaSelected3', 'Kisumu2',
       'BusiaSelected4', 'BusiaParental3', 'BusiaSelected5',
       'BusiaSelected6', 'Kisumu3', 'BusiaParental2', 'Kisumu4',
       'BusiaParental1', 'Kisumu1', 'BusiaParental4', 'BusiaParental5',
       'BusiaParental6'], dtype=object)

In [12]:
# Extract SNP positions
pos = allel.SortedIndex(vcf['variants/POS'])
pos

<SortedIndex shape=(178389,) dtype=int32>
[82, 96, 149, 247, 258, ..., 24391790, 24392133, 24392201, 24392320, 24392384]

In [ ]:
#inspect the data
geno

In [21]:
# Lets say we want to subset to a region of choice
cyp9k1_start = 15_000_000
cyp9k1_end = 15_100_000

In [26]:
# locate the region where cyp9k1 is in positions array 
cyp9k1_mask = pos.locate_ranges([cyp9k1_start], [cyp9k1_end])

In [28]:
# Filter the positions array
cyp9k1_pos = pos[cyp9k1_mask]

In [29]:
# Filter the genotype array and then count alleles
ac = geno.compress(cyp9k1_mask, axis=0).count_alleles()
ac

<AlleleCountsArray shape=(23, 2) dtype=int32>
2 2
8 2
4 2
...
12  2
 6  6
 4  6

In [42]:
# Make a pandas dataframe of the frequencies
freq_df = pd.DataFrame(ac.to_frequencies())
freq_df['pos'] = cyp9k1_pos.values
freq_df

           0         1       pos
0   0.500000  0.500000  15016210
1   0.800000  0.200000  15016318
2   0.666667  0.333333  15016334
3   0.500000  0.500000  15027408
4   0.000000  1.000000  15030002
5   0.000000  1.000000  15030028
6   0.000000  1.000000  15060447
7   0.000000  1.000000  15060479
8   0.250000  0.750000  15060516
9   0.000000  1.000000  15060584
10  0.333333  0.666667  15060673
11  0.000000  1.000000  15060703
12  0.000000  1.000000  15069728
13  0.800000  0.200000  15069821
14  0.400000  0.600000  15069829
15  0.857143  0.142857  15069907
16  0.900000  0.100000  15082382
17  1.000000  0.000000  15082384
18  0.428571  0.571429  15082504
19  0.000000  1.000000  15082511
20  0.857143  0.142857  15089788
21  0.500000  0.500000  15089913
22  0.400000  0.600000  15089921